@font-face {
  font-family: "TT Chocolates";
  font-weight: normal;
  src: url("/fonts/tt_chocolates_medium.otf") format("opentype");
}

@font-face {
  font-family: "TT Chocolates";
  font-weight: 600;
  src: url("/fonts/tt_chocolates_demibold.otf") format("opentype");
}

@font-face {
  font-family: "TT Chocolates";
  font-weight: 700;
  src: url("/fonts/tt_chocolates_bold.otf") format("opentype");
}
