// font sizes
$font-size-h2: 20px;
$font-size-label: 12px;

// font weights
$font-weight-h2: 700;
$font-weight-highlight: 600;

// background colors
$main-background: #d6f0ff;
$card-background: #f5faff;
$card-background-hover: #d5dde5;
$card-background-active: #44b7fb;

// font colors
$font-classic-color: #151f2a;
$font-inverted-classic-color: #f5faff;
$font-disabled-color: #d5dde5;

// borders
$input-border: #d5dde5;

// button colors
$button-primary-color: #ff916f;
$button-primary-disabled-color: #ffe0d6;
$button-primary-hover-color: #cf6c4e;

// element spacing
$spacing-xxl: 32px;
$spacing-xl: 24px;
$spacing-l: 16px;
$spacing-m: 8px;
$spacing-s: 4px;
$spacing-xs: 2px;

// break-points
$xl: 1440px;
$l: 760px;
$m: 600px;
$s: 400px;
